body, html {
  font-family: sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  height: 100%;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
  background-image: url('https://images.pexels.com/photos/7708409/pexels-photo-7708409.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 60px;
  align-items: center; 
  text-align: center;
  height: 12rem;

  h1{
    font-size: 3rem;
  }
  p{
    font-size: 2rem;
  }
}

header nav {
  background-color: rgba(37, 84, 185, 0.9);
  padding: 10px 20px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

header nav li a {
  text-decoration: none;
  color: white;
}


main {
  max-width: 960px; 
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}


h2 {
  text-align: center;
  color: #333;
  padding: 20px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.tarjeta {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 200px;
  height: 230px;
  border: 1px solid rgb(122, 116, 116);
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  color:black;
}

.tarjeta:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.tarjeta img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.tarjeta h3{
  margin: 10px 0 0 0;
  text-align: left;
}

.tarjeta p{
  margin: 5px 0 0 0;
  text-align: left;
}

.contenido {
  text-align: left;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1a1616;
  color: rgba(255, 255, 255, 0.833);
 
}